#top-menu{
    background-color: #337ab7;
    color: white;
    height:60px;
    padding-top: 15px;
    text-align: center;
    font-size: 24px;
}

#user_info{
    padding-left: 5px;
    text-align: left;
    font-size: 13px;
}

#menu{
    padding-right: 5px;
    float:right;
}

#tweet-button{
    margin-top: 15px;
}

.tw_name{
    color: darkgray;
}

.form{
    margin-bottom: 30px;
}



